In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame

# 读取文件
data = pd.read_csv(r'D:\17-19_data.csv', encoding="gbk")
data = data[data.columns[:16]] # 一共有16个特征

#删除异常数据
data=data.dropna(axis=0,subset = ["入学前户口性质","家庭人口","家庭人均年收入","院系认定贫困类型"])  #删除空白值
data=data[~data["家庭人均年收入"].str.contains("不|见备注|困难")]
data=data[~data["入学前户口性质"].str.contains("汉|无")]
data=data[~data["家庭人口"].str.contains("10|11|12|13|14|15|16|20|23")]
data.head()

##-----入学前户口性质-----##
index = data["入学前户口性质"].str.contains("非城镇",na=False)
data.loc[index, "入学前户口性质"] = "农村"
index = data["入学前户口性质"].str.contains("非农",na=False)
data.loc[index, "入学前户口性质"] = "城镇"
index = data["入学前户口性质"].str.contains("城|居民",na=False)
data.loc[index, "入学前户口性质"] = "城镇"
index = data["入学前户口性质"].str.contains("农",na=False)
data.loc[index, "入学前户口性质"] = "农村"

##-----家庭人口-----##
index = data["家庭人口"].str.contains("1|一",na=False)
data.loc[index, "家庭人口"] = "1"
index = data["家庭人口"].str.contains("2|二",na=False)
data.loc[index, "家庭人口"] = "2"
index = data["家庭人口"].str.contains("3|三",na=False)
data.loc[index, "家庭人口"] = "3"
index = data["家庭人口"].str.contains("4|四",na=False)
data.loc[index, "家庭人口"] = "4"
index = data["家庭人口"].str.contains("5|五",na=False)
data.loc[index, "家庭人口"] = "5"
index = data["家庭人口"].str.contains("6|六",na=False)
data.loc[index, "家庭人口"] = "6"
index = data["家庭人口"].str.contains("7|七",na=False)
data.loc[index, "家庭人口"] = "7"
index = data["家庭人口"].str.contains("8|八",na=False)
data.loc[index, "家庭人口"] = "8"
index = data["家庭人口"].str.contains("9|九",na=False)
data.loc[index, "家庭人口"] = "9"

##-----院系认定贫困类型-----##
index = data["院系认定贫困类型"].str.contains("特",na=False)
data.loc[index, "院系认定贫困类型"] = "特别困难"
index = data["院系认定贫困类型"].str.contains("一般",na=False)
data.loc[index, "院系认定贫困类型"] = "一般困难"

##-----是否贷款-----##
data["是否贷款"]=data["是否贷款"].fillna('-')
index = data["是否贷款"].str.contains("否|无|未|-|房|50000|10万|借|商业|家|父亲",na=False)#|无|未|商业|生源地|-|房贷|50000|10万|房屋|
data.loc[index, "是否贷款"] = "否"
index = data["是否贷款"].str.contains("是|√|19500|32000|助学|生源地|校园|扶贫|学|有|贷款",na=False)
data.loc[index, "是否贷款"] = "是"

data.to_csv("text111.csv",encoding="GBK")

In [ ]:
import pandas as pd
data = pd.read_csv('../data/rand_select_400_avg.csv', encoding="gbk")
data.head()

In [1]:
sys.path.append("..")
from MLSR.data import *
#x = DataSet.do_nation_policy(data)
#y = DataSet.do_income(data)
x = DataSet('../data/rand_select_400_avg.csv')
x.generate_feature()

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\lenovo\AppData\Local\Temp\jieba.cache
Loading model cost 1.304 seconds.
Prefix dict has been built successfully.

In [2]:
x.strong_label

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f23,f24,f25,f26,f27,f28,f29,f30,f31,f32
0,False,False,False,False,False,父亲务农,False,True,False,False,...,0.0,0.0,0.0,0,0,0,False,4,False,False
1,False,False,False,False,False,农村耕地,False,True,False,False,...,0.0,0.0,0.0,0,0,0,False,7,True,True
2,False,False,False,False,False,打工,False,False,False,False,...,0.0,0.0,0.0,0,0,0,False,5,False,True
3,False,False,False,False,False,务农,False,True,False,False,...,0.0,0.0,0.0,0,0,0,False,5,False,True
4,False,False,False,False,False,母亲在外打工父亲在家务农,False,True,False,False,...,0.0,0.0,0.0,0,0,0,True,5,False,True

In [3]:
y = DataSet('../data/not_selected_avg.csv')
y.generate_feature()
y.features.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f23,f24,f25,f26,f27,f28,f29,f30,f31,f32
0,False,False,False,False,False,务农,False,True,False,False,...,0.0,0.0,0.0,1,4000,0,False,2,True,True
1,False,False,False,False,False,母亲工资,False,False,False,False,...,0.0,0.0,0.0,1,2800,1,False,4,False,False
2,False,False,False,False,False,种田,False,True,False,False,...,0.0,0.0,0.0,0,0,0,False,6,True,True
3,True,False,False,False,False,父亲,False,False,False,False,...,0.0,0.0,0.0,0,0,0,True,5,False,True
4,False,False,False,False,False,务工,False,False,False,False,...,0.0,0.0,1.0,1,3800,2,False,4,True,True

In [5]:

x.merge(y)
x.strong_label

0      1
1      0
2      3
3      3
4      0
      ..
395    0
396    0
397    1
398    3
399    2
Name: 专家判定等级, Length: 400, dtype: int64